In [ ]:
df = spark.read.option("header", "true")\
.csv("/mnt/files/Employee.csv")

In [ ]:
df.dtypes

Out[7]: [('Employee_id', 'string'),
 ('First_Name', 'string'),
 ('Last_Name', 'string'),
 ('Gender', 'string'),
 ('Salary', 'string'),
 ('Date_of_Birth', 'string'),
 ('Age', 'string'),
 ('Country', 'string'),
 ('Department_id', 'string'),
 ('Date_of_Joining', 'string'),
 ('Manager_id', 'string'),
 ('Currency', 'string'),
 ('End_Date', 'string')]

In [ ]:
# change data types
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

custom_schema = StructType(
    [
        StructField("Employee_id", IntegerType(),True),
        StructField("First_name", StringType(),True),
        StructField("Last_name", StringType(),True),
        StructField("Gender", StringType(), True),
        StructField("salary", IntegerType(), True),
        StructField("Date_of_Birth", StringType(),True),
        StructField("Age", IntegerType(),True),
        StructField("Country", StringType(),True),
        StructField("Department_id", IntegerType(), True),
        StructField("Date_of_Joining", StringType(), True),
        StructField("Manager_id", IntegerType(), True),
        StructField("Currency", StringType(), True),
        StructField("End_Date", StringType(), True),
    ]
)  
df = spark.read.format("csv")\
.option("header", "true")\
.schema(custom_schema)\
.load("/mnt/files/Employee.csv")

df.printSchema()

root
 |-- Employee_id: integer (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- Date_of_Birth: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Department_id: integer (nullable = true)
 |-- Date_of_Joining: string (nullable = true)
 |-- Manager_id: integer (nullable = true)
 |-- Currency: string (nullable = true)
 |-- End_Date: string (nullable = true)

In [ ]:
from pyspark.sql.functions import *
df.filter(df.Department_id.isNotNull()).show()

+-----------+----------+----------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
|Employee_id|First_name| Last_name|Gender|salary|Date_of_Birth|Age|  Country|Department_id|Date_of_Joining|Manager_id|Currency|  End_Date|
+-----------+----------+----------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
|          1|   Auberon|    Nassie|  Male|105623|   07/11/1988| 60|   Sweden|            4|     23/10/2014|         7|     INR|30/11/2020|
|          2|Kristopher|   Winslet|Female| 69531|   29/07/1981| 13|    China|           10|     28/05/2016|         7|     AUD|09/09/2018|
|          3|   Kellina|  Lamberto|Female| 96879|   24/07/1984| 27|    India|           12|     21/03/2016|         9|     INR|09/04/2020|
|          4|     Tobit|Halksworth|Female| 76070|   29/11/1981| 44|    India|            4|     12/11/2012|        17|     INR|04/10/2019|
|          5|     Missy|   Bampkin|  Male| 62228|   03/04/1981| 54|      USA|            7|     14/07/2013|         8|     AUD|20/10/2018|
|          6|  Faustina|     Caser|  Male|106837|   27/05/1984| 14|    China|            5|     15/10/2014|         5|     INR|03/04/2020|
|          7|      Alic|    Dooler|  Male| 77729|   03/10/1991|-12|   Sweden|           17|     21/06/2014|         9|     AUD|24/02/2018|
|          8|     Gabey|   Mainson|  Male| 81590|   05/05/1992| 60|   Sweden|            7|     14/04/2018|        18|     INR|29/03/2019|
|          9|    Hammad|    Huckle|  Male| 71206|   08/04/1983|-10|  Germany|           13|     15/05/2018|        19|     AUD|30/12/2020|
|         10|     Kanya|    Tipens|  Male| 98642|   21/03/1986| 53|      USA|           11|     31/03/2017|         2|     INR|22/11/2020|
|         11|       Ugo|Choulerton|  Male|108740|   29/01/1985| 40|Australia|            9|     28/09/2013|        13|     INR|23/08/2020|
|         12|     Kathy|  Milstead|Female|121493|   17/10/1991| -9|   Brazil|            8|     17/09/2010|         8|     INR|02/10/2020|
|         13|    Fannie|     Banks|  Male| 67525|   26/08/1985| -6|    China|            8|     08/12/2011|        17|     INR|28/12/2019|
|         14|      Loni|  Dalinder|Female|119141|   27/01/1990| -2|   Canada|            8|     14/10/2017|        19|     INR|22/05/2018|
|         15|   Melitta|   Stroban|Female|110615|   24/08/1987| 13|  Germany|           11|     22/01/2018|        20|     INR|13/05/2018|
|         16|   Pepillo|   Lurcock|  Male|110210|   26/03/1980| 14|  Denmark|            7|     21/09/2017|         7|     AUD|04/11/2020|
|         17|       Ben|    Kember|Female|126559|   01/07/1982| 28|    China|            7|     29/12/2018|        12|     AUD|30/03/2018|
|         18|    Donnie|   Dodshon|  Male| 70872|   08/01/1983|-13|      USA|            5|     23/01/2012|         7|     INR|11/02/2018|
|         19|    Thelma| Blackston|Female| 67683|   05/09/1985| 56|    China|            3|     08/08/2017|        16|     AUD|15/07/2019|
|         20|     Stacy|     Albon|  Male| 95195|   02/09/1984| 46|   Sweden|           19|     07/05/2011|        12|     AUD|20/04/2018|
+-----------+----------+----------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
only showing top 20 rows

In [ ]:
df.filter("Department_id > 1")\
.filter("Department_id < 10")

df.filter("First_name == 'Ugo'")
df.filter(df["Department_id"].isNull()).show()

+-----------+----------+---------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
|Employee_id|First_name|Last_name|Gender|salary|Date_of_Birth|Age|  Country|Department_id|Date_of_Joining|Manager_id|Currency|  End_Date|
+-----------+----------+---------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
|         64| Annemarie|  Kirtlan|Female|108098|   04/09/1989| 40|    Japan|         null|     06/02/2010|        16|     INR|11/03/2019|
|         65|    Ulises|  Walpole|  Male| 64275|   15/10/1984|  4|      UAE|         null|     11/05/2013|        16|     INR|15/11/2019|
|         66|  Consalve|Strangman|Female| 88328|   05/03/1991|  5|Australia|         null|     09/08/2012|         4|     INR|31/12/2019|
|         67|    Trixie|  Mullany|Female| 80308|   14/01/1990| 37|  Germany|         null|     21/11/2015|         6|     INR|27/11/2019|
|         68|    Rosene|  Chartre|  Male| 89878|   21/12/1991|-12|    India|         null|     17/05/2015|         1|     INR|10/12/2019|
|         69|     Adora|    Clegg|Female| 62720|   24/04/1983| -2|   Brazil|         null|     23/01/2014|        10|     INR|22/06/2019|
|         70|    Karena|Neaverson|Female| 62003|   08/05/1989|  4|    India|         null|     21/02/2014|        20|     AUD|04/12/2018|
|         71|   Novelia| Vasenkov|  Male|122182|   06/12/1980| 17|   Sweden|         null|     21/10/2010|        17|     AUD|27/01/2020|
|         72|Wilhelmina|    Yoell|  Male| 75997|   21/04/1986| 42|Australia|         null|     28/01/2015|        17|     INR|12/04/2020|
|         73|   Adriano|  Fennick|Female| 96774|   04/07/1991| 60|  Germany|         null|     30/10/2017|        20|     AUD|27/04/2018|
|         74|   Crystal|  Luesley|  Male|113232|   06/01/1986| -1|    China|         null|     24/04/2010|         3|     INR|31/08/2020|
|         75|     Hinda| McElvine|  Male|112756|   11/08/1989| 26|   Sweden|         null|     11/06/2015|        16|     INR|15/01/2020|
+-----------+----------+---------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+

In [ ]:
df.select(df['EMployee_id'])
df.drop("Salary").show()

+-----------+----------+----------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
|Employee_id|First_name| Last_name|Gender|Date_of_Birth|Age|  Country|Department_id|Date_of_Joining|Manager_id|Currency|  End_Date|
+-----------+----------+----------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
|          1|   Auberon|    Nassie|  Male|   07/11/1988| 60|   Sweden|            4|     23/10/2014|         7|     INR|30/11/2020|
|          2|Kristopher|   Winslet|Female|   29/07/1981| 13|    China|           10|     28/05/2016|         7|     AUD|09/09/2018|
|          3|   Kellina|  Lamberto|Female|   24/07/1984| 27|    India|           12|     21/03/2016|         9|     INR|09/04/2020|
|          4|     Tobit|Halksworth|Female|   29/11/1981| 44|    India|            4|     12/11/2012|        17|     INR|04/10/2019|
|          5|     Missy|   Bampkin|  Male|   03/04/1981| 54|      USA|            7|     14/07/2013|         8|     AUD|20/10/2018|
|          6|  Faustina|     Caser|  Male|   27/05/1984| 14|    China|            5|     15/10/2014|         5|     INR|03/04/2020|
|          7|      Alic|    Dooler|  Male|   03/10/1991|-12|   Sweden|           17|     21/06/2014|         9|     AUD|24/02/2018|
|          8|     Gabey|   Mainson|  Male|   05/05/1992| 60|   Sweden|            7|     14/04/2018|        18|     INR|29/03/2019|
|          9|    Hammad|    Huckle|  Male|   08/04/1983|-10|  Germany|           13|     15/05/2018|        19|     AUD|30/12/2020|
|         10|     Kanya|    Tipens|  Male|   21/03/1986| 53|      USA|           11|     31/03/2017|         2|     INR|22/11/2020|
|         11|       Ugo|Choulerton|  Male|   29/01/1985| 40|Australia|            9|     28/09/2013|        13|     INR|23/08/2020|
|         12|     Kathy|  Milstead|Female|   17/10/1991| -9|   Brazil|            8|     17/09/2010|         8|     INR|02/10/2020|
|         13|    Fannie|     Banks|  Male|   26/08/1985| -6|    China|            8|     08/12/2011|        17|     INR|28/12/2019|
|         14|      Loni|  Dalinder|Female|   27/01/1990| -2|   Canada|            8|     14/10/2017|        19|     INR|22/05/2018|
|         15|   Melitta|   Stroban|Female|   24/08/1987| 13|  Germany|           11|     22/01/2018|        20|     INR|13/05/2018|
|         16|   Pepillo|   Lurcock|  Male|   26/03/1980| 14|  Denmark|            7|     21/09/2017|         7|     AUD|04/11/2020|
|         17|       Ben|    Kember|Female|   01/07/1982| 28|    China|            7|     29/12/2018|        12|     AUD|30/03/2018|
|         18|    Donnie|   Dodshon|  Male|   08/01/1983|-13|      USA|            5|     23/01/2012|         7|     INR|11/02/2018|
|         19|    Thelma| Blackston|Female|   05/09/1985| 56|    China|            3|     08/08/2017|        16|     AUD|15/07/2019|
|         20|     Stacy|     Albon|  Male|   02/09/1984| 46|   Sweden|           19|     07/05/2011|        12|     AUD|20/04/2018|
+-----------+----------+----------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+
only showing top 20 rows

In [ ]:
df.withColumn(
    "new_Department_id",
    lit("testing")
).show()

+-----------+----------+----------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+-----------------+
|Employee_id|First_name| Last_name|Gender|salary|Date_of_Birth|Age|  Country|Department_id|Date_of_Joining|Manager_id|Currency|  End_Date|new_Department_id|
+-----------+----------+----------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+-----------------+
|          1|   Auberon|    Nassie|  Male|105623|   07/11/1988| 60|   Sweden|            4|     23/10/2014|         7|     INR|30/11/2020|          testing|
|          2|Kristopher|   Winslet|Female| 69531|   29/07/1981| 13|    China|           10|     28/05/2016|         7|     AUD|09/09/2018|          testing|
|          3|   Kellina|  Lamberto|Female| 96879|   24/07/1984| 27|    India|           12|     21/03/2016|         9|     INR|09/04/2020|          testing|
|          4|     Tobit|Halksworth|Female| 76070|   29/11/1981| 44|    India|            4|     12/11/2012|        17|     INR|04/10/2019|          testing|
|          5|     Missy|   Bampkin|  Male| 62228|   03/04/1981| 54|      USA|            7|     14/07/2013|         8|     AUD|20/10/2018|          testing|
|          6|  Faustina|     Caser|  Male|106837|   27/05/1984| 14|    China|            5|     15/10/2014|         5|     INR|03/04/2020|          testing|
|          7|      Alic|    Dooler|  Male| 77729|   03/10/1991|-12|   Sweden|           17|     21/06/2014|         9|     AUD|24/02/2018|          testing|
|          8|     Gabey|   Mainson|  Male| 81590|   05/05/1992| 60|   Sweden|            7|     14/04/2018|        18|     INR|29/03/2019|          testing|
|          9|    Hammad|    Huckle|  Male| 71206|   08/04/1983|-10|  Germany|           13|     15/05/2018|        19|     AUD|30/12/2020|          testing|
|         10|     Kanya|    Tipens|  Male| 98642|   21/03/1986| 53|      USA|           11|     31/03/2017|         2|     INR|22/11/2020|          testing|
|         11|       Ugo|Choulerton|  Male|108740|   29/01/1985| 40|Australia|            9|     28/09/2013|        13|     INR|23/08/2020|          testing|
|         12|     Kathy|  Milstead|Female|121493|   17/10/1991| -9|   Brazil|            8|     17/09/2010|         8|     INR|02/10/2020|          testing|
|         13|    Fannie|     Banks|  Male| 67525|   26/08/1985| -6|    China|            8|     08/12/2011|        17|     INR|28/12/2019|          testing|
|         14|      Loni|  Dalinder|Female|119141|   27/01/1990| -2|   Canada|            8|     14/10/2017|        19|     INR|22/05/2018|          testing|
|         15|   Melitta|   Stroban|Female|110615|   24/08/1987| 13|  Germany|           11|     22/01/2018|        20|     INR|13/05/2018|          testing|
|         16|   Pepillo|   Lurcock|  Male|110210|   26/03/1980| 14|  Denmark|            7|     21/09/2017|         7|     AUD|04/11/2020|          testing|
|         17|       Ben|    Kember|Female|126559|   01/07/1982| 28|    China|            7|     29/12/2018|        12|     AUD|30/03/2018|          testing|
|         18|    Donnie|   Dodshon|  Male| 70872|   08/01/1983|-13|      USA|            5|     23/01/2012|         7|     INR|11/02/2018|          testing|
|         19|    Thelma| Blackston|Female| 67683|   05/09/1985| 56|    China|            3|     08/08/2017|        16|     AUD|15/07/2019|          testing|
|         20|     Stacy|     Albon|  Male| 95195|   02/09/1984| 46|   Sweden|           19|     07/05/2011|        12|     AUD|20/04/2018|          testing|
+-----------+----------+----------+------+------+-------------+---+---------+-------------+---------------+----------+--------+----------+-----------------+
only showing top 20 rows

In [ ]:
df.select(max("Department_id")).show()

+------------------+
|max(Department_id)|
+------------------+
|                20|
+------------------+

In [ ]:
df.select(sum("Department_id")).show()

+------------------+
|sum(Department_id)|
+------------------+
|             10806|
+------------------+

In [ ]:
df.where("Department_id is not null")\
    .groupBy("Department_id")\
    .agg(
        countDistinct("Employee_id").alias("Number of employees"))\
    .orderBy(df["Department_id"]
).show()

+-------------+-------------------+
|Department_id|Number of employees|
+-------------+-------------------+
|            1|                 44|
|            2|                 49|
|            3|                 46|
|            4|                 45|
|            5|                 47|
|            6|                 37|
|            7|                 50|
|            8|                 44|
|            9|                 49|
|           10|                 46|
|           11|                 50|
|           12|                 46|
|           13|                 46|
|           14|                 55|
|           15|                 56|
|           16|                 63|
|           17|                 54|
|           18|                 60|
|           19|                 50|
|           20|                 51|
+-------------+-------------------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

custom_schema = StructType(
    [
        StructField("Country", StringType(),True),
        StructField("Gender", StringType(), True),
        StructField("Employee_id", IntegerType(),True),
        StructField("First_name", StringType(),True),      
        StructField("Salary", IntegerType(), True),        
        StructField("Department_id", IntegerType(), True)
    ]
)  
df = spark.read.format("csv")\
.option("header", "true")\
.schema(custom_schema)\
.load("/mnt/files/SampleEmployee.csv")

df.printSchema()

df.where("Country is not null")\
    .groupBy("Country")\
    .agg(
        max("Salary").alias("maximum salary"),
        min("Salary").alias("minimum salary")
    )\
    .orderBy(df["Country"]
).show()

In [ ]:
window_func_count1 = Window.partitionBy("Country")\
    .orderBy(desc("Salary"))
window_count_min = Window.partitionBy("Country")\
    .orderBy(asc("Salary"))

df.withColumn(
    "Max Salary",
    max("Salary")\
    .over(window_func_count1)
).withColumn(
"Min Salary",
    min("Salary")\
    .over(window_count_min)
).withColumn(
"Row_Number",
    row_number()\
    .over(window_func_count1)
).where(
    "Row_Number == 3"
).show()

+-------+------+-----------+----------+------+-------------+----------+----------+----------+
|Country|Gender|Employee_id|First_name|Salary|Department_id|Max Salary|Min Salary|Row_Number|
+-------+------+-----------+----------+------+-------------+----------+----------+----------+
| Canada|Female|          3|   Kellina| 96879|           12|    106837|     62228|         3|
|    USA|  Male|         11|       Ugo|108740|            9|    121493|     67525|         3|
+-------+------+-----------+----------+------+-------------+----------+----------+----------+

In [ ]:
# rank based on country

window_func_count2 = Window.partitionBy("Country")\
    .orderBy("Gender")

df.withColumn(
    "Rank",
    rank().over(window_func_count2)
).withColumn(
    "Dense Rank",
    dense_rank().over(window_func_count2)
).show()

+-------+------+-----------+----------+------+-------------+----+----------+
|Country|Gender|Employee_id|First_name|Salary|Department_id|Rank|Dense Rank|
+-------+------+-----------+----------+------+-------------+----+----------+
| Canada|Female|          2|Kristopher| 69531|           10|   1|         1|
| Canada|Female|          3|   Kellina| 96879|           12|   1|         1|
| Canada|Female|          4|     Tobit| 76070|            4|   1|         1|
| Canada|  Male|          1|   Auberon|105623|            4|   4|         2|
| Canada|  Male|          5|     Missy| 62228|            7|   4|         2|
| Canada|  Male|          6|  Faustina|106837|            5|   4|         2|
| Canada|  Male|          7|      Alic| 77729|           17|   4|         2|
|    USA|Female|         12|     Kathy|121493|            8|   1|         1|
|    USA|Female|         14|      Loni|119141|            8|   1|         1|
|    USA|  Male|          8|     Gabey| 81590|            7|   3|         2|
|    USA|  Male|          9|    Hammad| 71206|           13|   3|         2|
|    USA|  Male|         10|     Kanya| 98642|           11|   3|         2|
|    USA|  Male|         11|       Ugo|108740|            9|   3|         2|
|    USA|  Male|         13|    Fannie| 67525|            8|   3|         2|
+-------+------+-----------+----------+------+-------------+----+----------+

In [ ]:
df.withColumn(
    "Rank",
    when(
        df['Gender'] == "Female",
        lit(1)
    ).otherwise(
        4
    )
).show()

+-------+------+-----------+----------+------+-------------+----+
|Country|Gender|Employee_id|First_name|Salary|Department_id|Rank|
+-------+------+-----------+----------+------+-------------+----+
| Canada|Female|          2|Kristopher| 69531|           10|   1|
| Canada|Female|          3|   Kellina| 96879|           12|   1|
| Canada|Female|          4|     Tobit| 76070|            4|   1|
| Canada|  Male|          1|   Auberon|105623|            4|   4|
| Canada|  Male|          5|     Missy| 62228|            7|   4|
| Canada|  Male|          6|  Faustina|106837|            5|   4|
| Canada|  Male|          7|      Alic| 77729|           17|   4|
|    USA|Female|         12|     Kathy|121493|            8|   1|
|    USA|Female|         14|      Loni|119141|            8|   1|
|    USA|  Male|          8|     Gabey| 81590|            7|   4|
|    USA|  Male|          9|    Hammad| 71206|           13|   4|
|    USA|  Male|         10|     Kanya| 98642|           11|   4|
|    USA|  Male|         11|       Ugo|108740|            9|   4|
|    USA|  Male|         13|    Fannie| 67525|            8|   4|
+-------+------+-----------+----------+------+-------------+----+

In [ ]:
df.where("Country is not null")\
    .groupBy("Country", "Gender")\
    .agg(
        max("Salary").alias("maximum salary"),
        min("Salary").alias("minimum salary")
    )\
    .orderBy(df["Country"]
).show()

+-------+------+--------------+--------------+
|Country|Gender|maximum salary|minimum salary|
+-------+------+--------------+--------------+
| Canada|Female|         96879|         69531|
| Canada|  Male|        106837|         62228|
|    USA|Female|        121493|        119141|
|    USA|  Male|        108740|         67525|
+-------+------+--------------+--------------+

In [ ]:
window_func_count2 = Window.partitionBy("Country", "Gender")\
    .orderBy("Salary")

df.withColumn(
    "Rank per country per gender",
    max("Salary").over(window_func_count2)
).show()

+-------+------+-----------+----------+------+-------------+---------------------------+
|Country|Gender|Employee_id|First_name|Salary|Department_id|Rank per country per gender|
+-------+------+-----------+----------+------+-------------+---------------------------+
| Canada|Female|          2|Kristopher| 69531|           10|                      69531|
| Canada|Female|          4|     Tobit| 76070|            4|                      76070|
| Canada|Female|          3|   Kellina| 96879|           12|                      96879|
| Canada|  Male|          5|     Missy| 62228|            7|                      62228|
| Canada|  Male|          7|      Alic| 77729|           17|                      77729|
| Canada|  Male|          1|   Auberon|105623|            4|                     105623|
| Canada|  Male|          6|  Faustina|106837|            5|                     106837|
|    USA|Female|         14|      Loni|119141|            8|                     119141|
|    USA|Female|         12|     Kathy|121493|            8|                     121493|
|    USA|  Male|         13|    Fannie| 67525|            8|                      67525|
|    USA|  Male|          9|    Hammad| 71206|           13|                      71206|
|    USA|  Male|          8|     Gabey| 81590|            7|                      81590|
|    USA|  Male|         10|     Kanya| 98642|           11|                      98642|
|    USA|  Male|         11|       Ugo|108740|            9|                     108740|
+-------+------+-----------+----------+------+-------------+---------------------------+

## joins

In [ ]:
df_emp = spark.read.format("csv")\
    .options(header='true', delimeter=',')\
    .load("/mnt/files/Sample_data4jOIN.csv")

df_dep = spark.read.format("csv")\
    .options(header='true', delimeter=',')\
    .load("/mnt/files/Department.csv")

In [ ]:
from pyspark.sql.functions import col

df_emp.join(
    df_dep, 
    df_emp.Department_id == df_dep.Department_id,
    "inner"
).select(
    df_emp.Employee_id, df_emp.Department_id, df_dep.Department_id, df_emp.First_Name
).show()

+-----------+-------------+-------------+----------+
|Employee_id|Department_id|Department_id|First_Name|
+-----------+-------------+-------------+----------+
|          1|            1|            1|   Auberon|
|          2|            2|            2|Kristopher|
|          3|            3|            3|   Kellina|
|          4|            4|            4|     Tobit|
|          5|            5|            5|     Missy|
|          6|            6|            6|  Faustina|
|          7|            7|            7|      Alic|
|          8|            8|            8|     Gabey|
|          9|            9|            9|    Hammad|
|         10|           10|           10|     Kanya|
+-----------+-------------+-------------+----------+

In [ ]:
df_emp.join(
    df_dep, 
    df_emp.Department_id == df_dep.Department_id,
    "left"
).select(
    df_emp.Employee_id, df_emp.Department_id, df_dep.Department_id, df_emp.First_Name
).show()

+-----------+-------------+-------------+----------+
|Employee_id|Department_id|Department_id|First_Name|
+-----------+-------------+-------------+----------+
|          1|            1|            1|   Auberon|
|          2|            2|            2|Kristopher|
|          3|            3|            3|   Kellina|
|          4|            4|            4|     Tobit|
|          5|            5|            5|     Missy|
|          6|            6|            6|  Faustina|
|          7|            7|            7|      Alic|
|          8|            8|            8|     Gabey|
|          9|            9|            9|    Hammad|
|         10|           10|           10|     Kanya|
|         11|           15|         null|       Ugo|
+-----------+-------------+-------------+----------+

In [ ]:
df_emp.join(
    df_dep, 
    df_emp.Department_id == df_dep.Department_id,
    "right"
).select(
    df_emp.Employee_id, df_emp.Department_id, df_dep.Department_id, df_emp.First_Name
).show()

+-----------+-------------+-------------+----------+
|Employee_id|Department_id|Department_id|First_Name|
+-----------+-------------+-------------+----------+
|          1|            1|            1|   Auberon|
|          2|            2|            2|Kristopher|
|          3|            3|            3|   Kellina|
|          4|            4|            4|     Tobit|
|          5|            5|            5|     Missy|
|          6|            6|            6|  Faustina|
|          7|            7|            7|      Alic|
|          8|            8|            8|     Gabey|
|          9|            9|            9|    Hammad|
|         10|           10|           10|     Kanya|
|       null|         null|           11|      null|
|       null|         null|           12|      null|
|       null|         null|           13|      null|
+-----------+-------------+-------------+----------+

In [ ]:
df_emp.join(
    df_dep, 
    df_emp.Department_id == df_dep.Department_id,
    "full"
).select(
    df_emp.Employee_id, df_emp.Department_id, df_dep.Department_id, df_emp.First_Name
).show()

+-----------+-------------+-------------+----------+
|Employee_id|Department_id|Department_id|First_Name|
+-----------+-------------+-------------+----------+
|          1|            1|            1|   Auberon|
|         10|           10|           10|     Kanya|
|       null|         null|           11|      null|
|       null|         null|           12|      null|
|       null|         null|           13|      null|
|         11|           15|         null|       Ugo|
|          2|            2|            2|Kristopher|
|          3|            3|            3|   Kellina|
|          4|            4|            4|     Tobit|
|          5|            5|            5|     Missy|
|          6|            6|            6|  Faustina|
|          7|            7|            7|      Alic|
|          8|            8|            8|     Gabey|
|          9|            9|            9|    Hammad|
+-----------+-------------+-------------+----------+

In [ ]:
df_emp.createOrReplaceTempView("emp")
df_dep.createOrReplaceTempView("dept")

In [ ]:
query_1 = spark.sql(
    "select emp.Employee_id, emp.Department_id from emp INNER JOIN dept on emp.Department_id = dept.Department_id"
)
query_1.show()

+-----------+-------------+
|Employee_id|Department_id|
+-----------+-------------+
|          1|            1|
|          2|            2|
|          3|            3|
|          4|            4|
|          5|            5|
|          6|            6|
|          7|            7|
|          8|            8|
|          9|            9|
|         10|           10|
+-----------+-------------+

In [ ]:
query_1 = spark.sql(
    "select emp.Employee_id, emp.Department_id, dept.Department_id from emp LEFT JOIN dept on emp.Department_id = dept.Department_id"
)
query_1.show()

+-----------+-------------+-------------+
|Employee_id|Department_id|Department_id|
+-----------+-------------+-------------+
|          1|            1|            1|
|          2|            2|            2|
|          3|            3|            3|
|          4|            4|            4|
|          5|            5|            5|
|          6|            6|            6|
|          7|            7|            7|
|          8|            8|            8|
|          9|            9|            9|
|         10|           10|           10|
|         11|           15|         null|
+-----------+-------------+-------------+